VITE_API_URL=https://api.url
VITE_FRONTEND_URL=https://frontend.url
VITE_EMAIL_INFO=info@domain.com

VITE_UMAMI_URL=https://localhost/stats/script.js
VITE_UMAMI_WEBSITE_ID=534e073b-b213-40fb-b45e-04f9becde7bb